.sidebar {

    width: 230px;

    background: #1e293b;

    color: white;

    padding-top: 20px;

    flex-shrink: 0;

}



.sidebar-title {

    text-align: center;

    color: white;

    font-weight: bold;

    margin-bottom: 25px;

}



.sidebar-link {

    color: white !important;

    padding: 14px 20px;

    display: block;

    text-decoration: none;

    transition: 0.3s;

}



.sidebar-link:hover {

    background: #334155;

    padding-left: 30px;

}